flows/messagingSessionCreateCase.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>set_messaging_session_caseId</name>
        <label>set messaging session caseId</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>get_messaging_session.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_case_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_messaging_session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_subject_and_description1</name>
        <label>set subject and description</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>caseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_messaging_session.Issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_messaging_session.Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_subject_and_description2</name>
        <label>set subject and description</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>caseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_messaging_session.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_messaging_session.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Account_Support</name>
        <choiceText>Account Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Critical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Support</name>
        <choiceText>Product Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Support</stringValue>
        </value>
    </choices>
    <decisions>
        <name>summary_and_issue_is_populated</name>
        <label>summary and issue is populated</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>set_subject_and_description2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_messaging_session.Summary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_messaging_session.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_subject_and_description1</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>messagingSessionCreateCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>messagingSessionCreateCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_case_record</name>
        <label>create case record</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>set_messaging_session_caseId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_messaging_session</name>
        <label>get messaging session</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>summary_and_issue_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_messaging_session</name>
        <label>update messaging session</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <inputReference>get_messaging_session</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_case_record</targetReference>
        </connector>
        <fields>
            <name>contactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_messaging_session.MessagingEndUser.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_messaging_session.MessagingEndUser.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Account_Support</choiceReferences>
            <choiceReferences>Product_Support</choiceReferences>
            <choiceReferences>General</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>General</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Low</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Critical</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Medium</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>caseSubject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!caseDescription}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_messaging_session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
